<ion-view view-title="Browse Products By Category" hide-nav-bar="true">
<ion-content has-bouncing="false">

<img src="img/store.jpg" class="full-image">

<div ng-repeat="item in categories_products" ng-if="params.categories_products_id==item.categories_products_id">
<h4 class="title_orange"><b ng-bind-html="item.categories_products_title"></b></h4>
<h6 class="text-center" style="color: #9e9e9e;padding: 0; margin: 0;"><i class="icon ion-ios-minus-empty"></i><i class="icon ion-ios-minus-empty"></i><i class="icon ion-ios-minus-empty"></i></h6>
</div>

<div class="row" style="flex-wrap: wrap;">
    <div class="col col-res-50">
<a ng-repeat="item in products" ng-if="params.categories_products_id==item.product_category" style="text-decoration: none;" href="#/tab/product/{{item.id}}">
<div class="row product_div">
  <div class="col col-33">
    <img src="{{imagesfolder}}/{{item.product_image}}" class="full-image product_image">
  </div>
  <div class="col col-67">
    <h2 class="product_title" ng-bind-html="item.product_title"></h2>
    <span class="product_price assertive">{{item.product_price}}</span>
    <span class="product_save">Economize {{item.product_save}}</span><br/>
    <span class="product_shipping balanced">{{item.product_shipping}}</span><br/>
    <img class="product_rating" src="img/rating.png">
  </div>
<div class="product_label">Ver produto</div>
</div>

</a>
</div>
</div>

</ion-content>
</ion-view>
