<ion-view view-title="Diet Plans" hide-nav-bar="true">
<ion-content has-bouncing="false">

<img src="img/diets.jpg" class="full-image">

<div class="padding">

<div class="button-bar" style="padding-bottom: 5px;">


<a class="button button-small button-outline" ng-model="button.first" ng-click="diet_type='Build Muscle'; click(button.first)" ng-class="button.first.clicked?'button-activado':'button-assertive'">Ganhar músculo</a>

<a class="button button-small button-outline" ng-model="button.second" ng-click="diet_type='Lost Fat'; click(button.second)" ng-class="button.second.clicked?'button-activado':'button-assertive'">Perder peso</a>

<a class="button button-small button-outline" ng-model="button.third" ng-click="diet_type='Transform'; click(button.third)" ng-class="button.third.clicked?'button-activado':'button-assertive'">Transformar</a>

</div>


<div class="row" style="flex-wrap: wrap;    padding: 5px 0px 5px 0px;">
    <div class="col col-res-50" ng-repeat="item in diets | filter: diet_type: diet_type" style="    padding: 5px 0px 5px 0px;"> 

<div class="list diet_card card">

  <div class="item item-image">
    <img src="{{imagesfolder}}/{{item.diet_image}}">
  </div>

  <a class="item" href="#/tab/dpdetail/{{item.id}}">
    <span class="bold" ng-bind-html="item.diet_title"></span> <span class="light">|</span> <span class="assertive" style="font-size: 13px;">{{item.diet_type}}</span>
  </a>

</div>
</div>
</div>
</div>

</ion-content>
</ion-view>
